<div class="teste">
  Teste controller: <%=@teste%><br>
  <br>
  <%Servidor.all.each do |s|%>
    <div class="conteudo">
      <div class="head">
        <span class="titulo"><%=s.nome.upcase%></span>
        <% case s.up %>
        <%when 0%>
          <div class="status server issues" id="statusserver<%=s.id%>"></div>
        <%when 1%>
          <div class="status server down" id="statusserver<%=s.id%>"></div>
        <%when 2%>
          <div class="status server up" id="statusserver<%=s.id%>"></div>
        <%else%>
          <div>Erro. Contatar responsavel.</div>
        <%end%>
      </div>
      <%Site.all.where(servidor_id:s.id).each do |si|%>
        <div class="site">
          <%=si.nome%> - <%=link_to si.url, si.url%>
        <% case si.up %>
        <%when 0%>
          <div class="status issues" id="status<%=si.id%>"></div>
        <%when 1%>
          <div class="status down" id="status<%=si.id%>"></div>
        <%when 2%>
          <div class="status up" id="status<%=si.id%>"></div>
        <%else%>
          <div>Erro. Contatar responsavel.</div>
        <%end%>
        </div>
      <%end%>
    </div>
  <%end%>

</div>
